pipeline/IMDB_data_ingest.json
{
	"name": "IMDB_data_ingest",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('file_names')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "HTTP_source",
									"type": "DatasetReference",
									"parameters": {
										"file_names": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "HTTP_sink",
									"type": "DatasetReference",
									"parameters": {
										"file_names": {
											"value": "@replace(item(),'tsv.gz','pqt')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://management.azure.com/subscriptions/5138f9ef-4e00-425f-a78f-bbba8bad5c22/resourceGroups/pfinicks_de_rg/providers/Microsoft.DataFactory/factories/pfinicks-df/pipelines/IMDB_data_transform/createRun?api-version=2018-06-01",
					"body": [],
					"authentication": {
						"resource": "https://management.azure.com",
						"credential": {
							"referenceName": "credential1",
							"type": "CredentialReference"
						},
						"type": "UserAssignedManagedIdentity"
					}
				}
			}
		],
		"variables": {
			"file_names": {
				"type": "Array",
				"defaultValue": [
					"name.basics.tsv.gz",
					"title.akas.tsv.gz",
					"title.basics.tsv.gz",
					"title.crew.tsv.gz",
					"title.episode.tsv.gz",
					"title.principals.tsv.gz",
					"title.ratings.tsv.gz"
				]
			},
			"file_name": {
				"type": "Array",
				"defaultValue": [
					"name.basics.pqt",
					"title.akas.pqt",
					"title.basics.pqt",
					"title.crew.pqt",
					"title.episode.pqt",
					"title.principals.pqt",
					"title.ratings.pqt"
				]
			},
			"message_body": {
				"type": "String",
				"defaultValue": "[{     \"id\": string(rand(1,5000000)) ,\"eventType\": \"PipelineFinished\",     \"subject\": \"pipeline\",     \"eventTime\": \"2024-05-14T15:55:32\",     \"data\": {         \"status\": \"complete\"     },     \"dataVersion\": \"1.0\" }]"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-14T20:36:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}